.contacts {
  display: flex;
  width: 70%;
}

.contact_name,
.contact_number {
  display: block;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  width: 50%;
  word-break: break-all;
}

.buttons {
  display: flex;
}

.button_delete,
.button_edit {
  display: block;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  width: 50px;
  height: 28px;
  cursor: pointer;
  box-sizing: content-box;
  text-align: center;
  line-height: 28px;
  border: 2px solid #fff;
  border-radius: 25px;
  will-change: transform;
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: linear;
  margin-right: 10px;
}

.button_delete {
  background-color: rgb(194, 55, 55);
}

.button_edit {
  background-color: rgb(3, 158, 62);
}

.button_delete:hover,
.button_delete:focus {
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: linear;
  transform: scale(1.1);
}

.button_edit:hover,
.button_edit:focus {
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: linear;
  transform: scale(1.1);
}

@media (max-width: 500px) {
  .button_delete,
  .button_edit {
    width: 32px;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
  }

  .contact_name,
  .contact_number {
    font-size: 12px;
  }
}
