.root {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(../../images/gorod.jpg);
  height: 100vh;
  object-fit: contain;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .root {
    background-image: url(../../images/gorod@2x.jpg);
  }
}
